#sabbir{color:blue;text-align:left;font-size:30px}
          .sabbir1{background:yellow}
            .Sabbir2{color:blue}
              .sabbir3{color:green}
             table{background:red;margin-left:120px}
           
          table,th,td{border:1px solid blue;}
    </style>